body{
    font-family: 'Staatliches', cursiva;
    font-size: larger;
}

h1 {
    font-size: 40px;
    color: #685866;
}

th {
    background-color: grey;
    color: white;
    }

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    }

td {
    text-align: center;
    padding: 10px;
}



/*DISPLAYS*/
.flex{
    display: flex;
}

.flexColumna{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    margin-bottom: 20px;
}

.btnBorrar, .btnEditar, .btnAgregar, .btnVer {
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
.btnBorrar {
    background-color: red;
}
.btnEditar {
    background-color: orangered;
}
.btnAgregar {
    background-color: green;
}
.btnVer {
    background-color: blue;
}


a{
    text-decoration: none;
    font-family: 'Staatliches', cursiva;
}

a.admin{
    color: rgb(167, 66, 29);
}



.spaced{
    display: flex;
    justify-content: space-between;
}

.angosto{
    width: 60%;
}

nav{
    border-bottom: 2px solid black;
}

nav a{
    padding: 10px;

}

header{
    padding-bottom: 30px;
}

.resaltado{
    background-color:  darkred;
    color: white;
    padding: 5px 5px 0px 5px;
}

textarea{
    resize: none;
}

.emailUser{
    background-color: rgb(30, 145, 30);
    color: white;
    padding: 5px 5px 0px 5px;
}