body{
    font-family: 'Staatliches', cursiva;
    font-size: larger;
}

h1 {
    font-size: 40px;
    color: #685866;
}

th {
    background-color: grey;
    color: white;
    }

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    }

td {
    text-align: center;
    padding: 10px;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btnBorrar, .btnEditar, .btnAgregar, .btnVer {
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
.btnBorrar {
    background-color: red;
}
.btnEditar {
    background-color: orangered;
}
.btnAgregar {
    background-color: green;
}
.btnVer {
    background-color: blue;
}


a{
    text-decoration: none;
    font-family: 'Staatliches', cursiva;
}

.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaced{
    display: flex;
    justify-content: space-between;
}

.angosto{
    width: 60%;
}

nav a{
    padding: 10px;
}

header{
    padding-bottom: 50px;
}

.resaltado{
    color: darkred;
}