body, input, textarea{
    font-family: 'Staatliches', cursiva;
}

body, .btnLarge{
    font-size: larger;
}

h1 {
    font-size: 40px;
    color: #685866;
}
h3{
    margin: 10px;
    color: red;
}

section{
    margin: 10px;
    width: 90%;
}




.btnRed, .btnOrange, .btnGreen, .btnBlue{
    cursor: pointer;
    color: white;
    font-size: large;
    padding: 2px 5px 2px 5px;
    text-align: center;
    display: inline-block;
}
.btnRed {
    background-color: rgb(187, 47, 47);
}
.btnOrange {
    background-color: rgb(245, 114, 67);
}
.btnGreen{
    background-color: green;
}
.btnBlue{
    background-color: rgb(74, 74, 138);
}


/*LOGIN */
.session{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
}



/*DISPLAYS*/
.flex, .flexLeft, .flexColumna, .flexSpaceBetween, .flexSpaceAround, .flexWrap{
    display: flex;
    width: 100%;
}
.flexColumna{
    flex-direction: column;
    align-items: center;
}
.flexSpaceBetween{
    justify-content: space-between;
}
.flexSpaceAround{
    justify-content: space-around;
}
.flexWrap{
    justify-content: center;
    flex-wrap: wrap;
}
.flexLeft{
    justify-content: left;
    align-items: center;
}



input[type=submit]{
    border: none
}
form input,form textarea{
    display: inline-block;
    font-size: large;
    border-radius: 0;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
form textarea{
    display: flex;
    width: 80%;
}
textarea.descripcion{
    min-height: 200px;
}
textarea.comentario{
    min-height: 100px;
}
textarea{
    resize: none;
}


a{
    text-decoration: none;
    font-family: 'Staatliches', cursiva;
}


/*USUARIOS*/

th {
    background-color: grey;
    color: white;
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 10px;
}



.spaced{
    display: flex;
    justify-content: space-between;
}

.angosto{
    width: 60%;
}



header{
    padding-bottom: 30px;
}

/*NAV*/
nav{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}
.resaltado, nav span.resaltado, nav span.emailUser{
    background-color:  darkred;
    color: white;
    padding: 2px 5px 0px 5px;
}
nav a{
    padding: 10px;
}
nav a.admin{
    color: darkgreen;
}
nav span.resaltado{
    background-color:  darkgreen;
}
nav span.emailUser{
    background-color: rgb(30, 145, 30);
    color: white;
}

/*PAGINA CATEGORIAS*/
.elementoLista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    width: 60%;
}

/*PRODUCTOS*/
div.tarjetaProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    min-width: 200px;
    border: 1px solid black;
    padding: 10px 0px 5px 0px;
    margin: 10px;
}
div.nombreProducto{
    display: flex;
    justify-content: center;
    font-size: x-large;
    background-color: black;
    color: white;
    padding: 2px 5px 2px 5px;
}
div.datosProducto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10% 5px 10%;
    padding-left: 4px;
    overflow: unset;
}

section.agregar{
    width: 70%;
    border: 1px solid black;
    padding: 10px 0px 5px 0px;
}
section.agregar span{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgb(88, 88, 88);
    margin-bottom: 5px;
}

.botoneraAdmin{
    display: flex;
    justify-content: center;
    background-color: rgb(114, 216, 114);
    align-items: center;
    border-top: 2px dashed darkgreen;
    border-bottom: 2px dashed darkgreen;
    padding: 3px;
}
.botoneraAdmin a{
    margin: 0px 10px 0px 10px;
}



/*ESTRELLAS*/
.puntuacion label{
    font-size: xx-large;
    color:grey;
}
.puntuacion label:hover{
    color:orange;
}
.puntuacion label:hover ~ label{
    color:orange;
}

.puntuacion input[type = "radio"]:checked ~ label{
    color:orange;
}

.puntuacion input[type = "radio"]{ 
    display:none;
}

section.addComentario{
    border: 1px solid black;
    padding: 10px;
    max-width: 70%;
}

.puntuacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
.columnaComentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.fatalError{
    font-size: xxx-large;
    color: red;
}

section.producto{
    display:flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.columnaProducto{
    display: flex;
    flex-direction: column;
}
span.resaltadoComentario{
    font-size: x-large;
    background-color: lightblue;
    color: black;
    padding: 2px 5px 0px 5px;
}
section.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.encabezadoComentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 70%;
    padding: 5px;
}
div.comentario{
    display: flex;
    justify-content: space-between;
    background-color: rgb(225, 239, 252);
    align-items: center;
    border: 1px solid rgb(225, 239, 252);
    padding: 5px;
    margin: 2px;
    max-width: 700px;
}
.puntaje, span.estrella{
    font-size: xx-large;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 2px;
}
.puntaje{
    min-width:max-content;
}
div.comentario, .contenido{
    margin: 10px;
}
span.estrella{
    color: orange;
}
.fechaComenterio{
    display: flex;
    font-size: medium;
    color:#685866;
}
